{sub_dirs, []}.

{cover_enabled, true}.

{erl_opts, [debug_info]}.
{xref_checks, [exports_not_used, undefined_function_calls]}.

{deps, [
		{ibrowse, 			"3.*.*", {git, "git@github.com:cmullaparthi/ibrowse",	{tag, "v2.2.0"}}}
	    , {proper, "1.0.*", {git, "git@github.com:manopapad/proper", {tag, "v1.0"}}}
	    , {rfc4627_jsonrpc, "0.01", {git, "git@github.com:odo/erlang-rfc4627", "master"}}


]}.
{eunit_opts, [verbose]}.