{sub_dirs, []}.

{cover_enabled, true}.

{erl_opts, [debug_info]}.
{xref_checks, [exports_not_used, undefined_function_calls]}.

{deps, [
	{ibrowse, "3.*.*", {git, "https://github.com/cmullaparthi/ibrowse.git",	{tag, "v2.2.0"}}}
	, {proper, "1.0.*", {git, "https://github.com/manopapad/proper.git", {tag, "v1.0"}}}
	, {rfc4627_jsonrpc, "0.01", {git, "https://github.com/odo/erlang-rfc4627.git", "master"}}
	, {debutten, "0.2.2", {git, "https://github.com/odo/debutten.git", "master"}}


]}.
{eunit_opts, [verbose]}.
